services:
  postgres:
    image: postgres:16
    container_name: eventix-postgres
    environment:
      POSTGRES_USER: eventix
      POSTGRES_PASSWORD: eventix
      POSTGRES_DB: eventix
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: eventix-redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
