@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  min-height: 100vh;
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-display);
}
